<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Service>
        <Connector address="*" port="3738" processors="10"/>
        <Engine name="mmonit" defaultHost="localhost" fileCache="10MB">
            <Realm url="sqlite:///db/mmonit.db?synchronous=normal&heap_limit=8000&foreign_keys=on&journal_mode=wal"
                   minConnections="5"
                   maxConnections="25"
                   reapConnections="300"/>
            <ErrorLogger directory="logs" fileName="error.log" rotate="month"/>
            <Host name="localhost" appBase=".">
                <Logger directory="logs" fileName="mmonit.log" rotate="month" timestamp="true"/>
                <Context path="" docBase="docroot" sessionTimeout="1800"
                         maxActiveSessions="1024" saveSessions="true"/>
                <Context path="/collector" docBase="docroot/collector"/>
            </Host>

        </Engine>
    </Service>

    <License owner="Tildeslash Ltd. - Trial License">
        FGEUDPTZFF-2REQ47WAAY-TTCBYFA5OQ-EXUXN546VH-5DHYPS42QR
        FLJYESONZP-BGI4EKSK6F-I6V5MQETVR-VEUC3MYXTT-QY4SF6ZGBD
        BY4WJPP7QN-B6BLDB4AUI-YKXNPUTMSP-K2QOVVQ3S5-2P64Z44VZK
        A4OH4ZPH7I-24NQJRONMT-PMQMHX63RQ-OPE6F4EXNZ-REEZK3SZSY
        OJUTG
    </License>
</Server>