.navbar-nav>li>a {
    padding-top: 13px;
    padding-bottom: 13px;
}

.navbar-brand.logo {
    /*background: url('/icons/favicon-96x96.png') no-repeat center;*/
    /*background-size: 32px 32px;*/
    /*width: 40px;*/
    padding-top: 12px;
    padding-bottom: 18px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-270 {
    padding-top: 11px;
    padding-bottom: 15px;
}

.feed-wrapper .panel-body {
    overflow: auto;
}

.panel-info {
    border-color: #bce8f1;
}

.feed-wrapper .media-list .media img {
    border: 2px solid #e5e7e8;
}

.feed-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.glyphicon-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    padding-top: 2px;
    padding-bottom: -2px;
    padding-left: 0px;
    padding-right: 0px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.no-shadow:focus, .no-shadow:active, .no-shadow.active, .no-shadow:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.avatar-img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
    border-radius: 50%;
    margin-bottom: 15px;
}

.task-inactive {
    color: lightgray !important;
}

.task-active {
    color: cadetblue !important;
}

.task-completed {
    color: slategrey !important;
}

.system-price {
    color: lightcoral !important;
}

.task-header.task-inactive, .fix-task {
    color: lightcoral !important;
}

#user-data {
    display: none !important;
    visibility: hidden !important;
}

#task-feed[data-hide-completed=true] > li.task-completed {
    visibility: hidden !important;
    display: none !important;
}

#task-feed[data-hide-inactive=true] > li.task-completed {
    visibility: hidden !important;
    display: none !important;
}

#no-more-content {
    text-align: center;
}